<div class="container m-5" >
    <h2 class="text-center">Update Customer</h2>
  
    <form (ngSubmit)="onSubmit()" #customerForm="ngForm" class="mt-4" *ngIf="customer; else loading">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          id="name"
          class="form-control"
          readonly
          [(ngModel)]="customer.name"
          name="name"
          #name="ngModel">
      </div>
  
      <div class="mb-3">
        <label for="streetNumber" class="form-label">Street Number</label>
        <input
          type="text"
          id="streetNumber"
          class="form-control"
          readonly
          [(ngModel)]="customer.address.streetNumber"
          name="streetNumber"
          #streetNumber="ngModel">
      </div>

      <div class="mb-3">
        <label for="city" class="form-label">City</label>
        <input
          type="text"
          id="city"
          class="form-control"
          readonly
          [(ngModel)]="customer.address.city"
          name="city"
          #streetNumber="ngModel">
      </div>

      <div class="mb-3">
        <label for="province" class="form-label">Province</label>
        <input
          type="text"
          id="province"
          class="form-control"
          readonly
          [(ngModel)]="customer.address.province"
          name="province"
          #streetNumber="ngModel">
      </div>
  
      <div class="mb-3">
        <label for="postalCode" class="form-label">Postal Code</label>
        <input
          type="text"
          id="postalCode"
          class="form-control"
          required
          [(ngModel)]="customer.address.postalCode"
          name="postalCode"
          #postalCode="ngModel">
        <div *ngIf="postalCode.invalid && postalCode.touched" class="text-danger">
          Postal Code is required
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="customerForm.invalid">Submit</button>
    </form>

    <ng-template #loading>
      <p>Loading customer data...</p>
    </ng-template>

  </div>
  

