.nav-link {
    color: white;
    transition: transform 0.3s;
}

.nav-link:hover {
    transform: scale(1.3); 
    text-decoration: underline;
}

.nav-link:focus {
    color: white;
    text-decoration: underline;
}

.nav-item {
    margin-right: 10px;
}